*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --color-primario: black;
    --color-secundario: red;
    --color-lineas: white;

}

/* DISEÑO HEADER */

header{
    background-image: url(https://www.desktopbackground.org/download/1920x1200/2014/11/06/851711_vans-wallpapers_2048x1365_h.jpg) ;
    display: flex;
    justify-content:space-between;
    padding: 30px;
    height: 30px;
}

li{
    list-style-type: none;
    text-decoration: none;


}

li a{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;

}

header div{
    height: 100%;
    width: 100%;
}

header div img{
    margin-top: 0;
    width: auto;
    max-height: 60px;
}

header div ul{
    display: flex;
    gap: 30px;
    color: red;
    margin-left: 500px;
}

/* SECCION BANNER */

.banner{
    background-color:black;
    height: 400px;
    display:flex;
    padding: 50px;
    background: linear-gradient(to bottom right, #000000 0%, #925555 50%, #9b2626 80%, #ff0000 100%);
/*     background: linear-gradient(to bottom right, #000000 0%, #925555 50%, #d85a5a 80%, #ff0000 100%); */
}

.banner h2{
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 50px;
}

.banner div{
    width: 50%;
}

.texto-banner{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    margin: 50px;
}

div img{
    max-height: 400px;
    max-width: 400px;
    height: auto;
    width: 100%;
}

.banner .img-banner {
display: flex;
justify-content: center;
align-items: center;
}

/* Seccion categoria de productos */

.Categ-prod{
    background-color: var(--color-primario);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
   /*  border: 1px solid red; */
    background: linear-gradient(to top right, #000000 0%, #925555 50%, #9b2626 80%, #ff0000 100%);
}

.Categ-prod div img{
    border-radius: 20px ;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.promo1:hover img{
    transform: scale(1.1);
    overflow: hidden;
}
.promo2:hover img{
    transform: scale(1.1);
}
.promo3:hover img{
    transform: scale(1.1);
}

/* seccion ofertas */

.prod-venta{
    height: 850px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right,#000000 0%, #925555 50%, #9b2626 80%, #ff0000 100%);
}

.prod-venta h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 8px;
}

.prod-venta div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 30px;

}

.prod-venta div img{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.boton-compra {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.oferta1,.oferta2,.oferta3,.oferta4,.oferta5,.oferta6  {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease;
}

.oferta1:hover img{
    transform: scale(1.1);
}
.oferta2:hover img{
    transform: scale(1.1);
}
.oferta3:hover img{
    transform: scale(1.1);
}
.oferta4:hover img{
    transform: scale(1.1);
}
.oferta5:hover img{
    transform: scale(1.1);
}
.oferta6:hover img{
    transform: scale(1.1);
}

/* FORMULARIO */



.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap:50px;
    padding: 20px;
    background: linear-gradient(to top right,#000000 0%, #925555 50%, #9b2626 80%, #ff0000 100%)
}

form{
    background: linear-gradient(to bottom right, #135319 0%, #2f8348 50%, #68b2b8 80%, #372f61 100%);
    border: none;
    width: 100%;

}

.tt-contacto{
    margin-top: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    letter-spacing: 6px;
    color: #ffffff;
}

section div form{
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
    border: none;
    width: 400px;
    padding: 20px;
    border: none;
}

form label{
    color: white;

}

form input{
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    padding: 10px;
}

textarea{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
} 

.bt-form{
    margin-top: 20px;
    padding: 10px;
    max-width: 80px;
    border: none;
    border-radius: 20px;
    background-color: #3498db;
    color: white;

}


/* FOOTER */


.footer{
    height: 200px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    background: linear-gradient(to bottom left, #000000 0%, #ff0000 50%, #ffffff 50%, rgb(255, 255, 255) 100%);
}
.footer h3{
    margin-bottom: 10px;

}
section footer{
    margin: 30px;
}

/* BOTON DE WSP */

.whatsapp {
    position: fixed;
    bottom: 80px;
    right: 60px;
    background-color: #25D366; 
    color: white; 
    padding: 15px ;
    border-radius: 50%;
    font-size: 35px;
}

.whatsapp:hover {
    background-color: #128C7E; /
}