*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --color-primario: black;
    --color-secundario: red;
    --color-lineas: white;

}

/* DISEÑO HEADER */

header{
    background-color: black;
    display: flex;
    justify-content:space-between;
    padding: 30px;
    border: solid 1px red;
    height: 30px;
}

header div{
    height: 100%;
    width: 100%;
}

header div img{
    margin-bottom: 50px;
    width: auto;
    max-height: 100px;
}

header div ul{
    display: flex;
    gap: 30px;
    color: red;
    margin-left: 500px;
}


h1{
    text-shadow: 3px 1px 0px rgb(169, 253, 161);
    font-size: 50px;
}

/* SECCION BANNER */

.banner{
    background-color:black;
    height: 400px;
    display:flex;
    padding: 50px;
    border: solid 1px var(--color-secundario);
}


.banner div{
    width: 50%;
}

.texto-banner{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    margin: 50px;
}

div img{
    max-height: 400px;
    max-width: 400px;
    height: auto;
    width: 100%;
}

.banner .img-banner {
display: flex;
justify-content: center;
align-items: center;
}

/* Seccion categoria de productos */

.Categ-prod{
    background-color: var(--color-primario);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.Categ-prod div img{
    border-radius: 20px ;
}